<main class="page">
  <div class="form-card">
    <h1 class="form-card__title">Вход</h1>
    <form class="form-card__form">
      <div class="form-card__field">
        <label class="form-card__label" for="login">Логин</label>
        <input class="input" type="text" id="login" name="login" placeholder="Введите логин" />
      </div>
      <div class="form-card__field">
        <label class="form-card__label" for="password">Пароль</label>
        <input class="input" type="password" id="password" name="password" placeholder="Введите пароль" />
      </div>
      <div class="form-card__actions">
        <button class="button" type="submit">Авторизоваться</button>
        <a class="link" data-page="register" href="#">Нет аккаунта?</a>
      </div>
    </form>
  </div>
</main>
