<main class="page">
  <div class="form-card">
    <h1 class="form-card__title">Регистрация</h1>
    <form class="form-card__form">
      <div class="form-card__field">
        <label class="form-card__label" for="email">Почта</label>
        <input class="input" type="email" id="email" name="email" placeholder="Введите почту" />
      </div>
      <div class="form-card__field">
        <label class="form-card__label" for="login">Логин</label>
        <input class="input" type="text" id="login" name="login" placeholder="Введите логин" />
      </div>
      <div class="form-card__field">
        <label class="form-card__label" for="first_name">Имя</label>
        <input class="input" type="text" id="first_name" name="first_name" placeholder="Введите имя" />
      </div>
      <div class="form-card__field">
        <label class="form-card__label" for="second_name">Фамилия</label>
        <input class="input" type="text" id="second_name" name="second_name" placeholder="Введите фамилию" />
      </div>
      <div class="form-card__field">
        <label class="form-card__label" for="phone">Телефон</label>
        <input class="input" type="tel" id="phone" name="phone" placeholder="+7 (___) ___-__-__" />
      </div>
      <div class="form-card__field">
        <label class="form-card__label" for="password">Пароль</label>
        <input class="input" type="password" id="password" name="password" placeholder="Введите пароль" />
      </div>
      <div class="form-card__field">
        <label class="form-card__label" for="password_confirm">Пароль (ещё раз)</label>
        <input class="input" type="password" id="password_confirm" name="password_confirm" placeholder="Повторите пароль" />
      </div>
      <div class="form-card__actions">
        <button class="button" type="submit">Зарегистрироваться</button>
        <a class="link" data-page="login" href="#">Войти</a>
      </div>
    </form>
  </div>
</main>
