@use "../../styles/variables" as *;

.error-page {
  text-align: center;
}

.error-page__code {
  font-size: 100px;
  font-weight: 700;
  color: $color-primary;
  line-height: 1;
  margin-bottom: 12px;
}

.error-page__message {
  font-size: 18px;
  color: $color-text-secondary;
  margin-bottom: 32px;
}
