<main class="page">
  <section class="error-page">
    <h1 class="error-page__code">500</h1>
    <p class="error-page__message">Мы уже фиксим</p>
    <a class="link" data-page="chat-list" href="#">Назад к чатам</a>
  </section>
</main>
