<main class="chat-list-page">
  <aside class="chat-list">
    <nav class="chat-list__header">
      <h1 class="chat-list__title">Чаты</h1>
      <a class="link" data-page="profile" href="#">Профиль</a>
    </nav>
    <div class="chat-list__search">
      <input class="input-search" type="text" name="search" placeholder="Поиск" />
    </div>
    <ul class="chat-list__items">
      {{#each chats}}
      <li class="chat-item" data-page="chat">
        <div class="avatar">{{firstLetter name}}</div>
        <div class="chat-item__info">
          <span class="chat-item__name">{{name}}</span>
          <span class="chat-item__message">{{lastMessage}}</span>
        </div>
        <time class="chat-item__time">{{time}}</time>
      </li>
      {{/each}}
    </ul>
  </aside>
</main>
