<main class="page">
  <section class="error-page">
    <h1 class="error-page__code">404</h1>
    <p class="error-page__message">Не туда попали</p>
    <a class="link" data-page="chat-list" href="#">Назад к чатам</a>
  </section>
</main>
